<div id="loadingHolder" class="loadingWrapper">
  <i class="fa fa-star"></i>
</div>
<div id="scoreWrapper" class="scoreWrapper">
<table>
  <tr>
    <td width="40px">
      <div id="levelContainer" class="levelContainer" align="center">

      </div>
      </td>
      <td >
        <div id="xpProgressContent" class="xpProgressContent"></div>
          <div id="xpProgress" class="xpProgress">
        </div>
        </td>

    <td width="100px">
      <div id="xpCount" class="xpCount chromatic"><span align="center">XX/YY</span></div>

    </td>
      </tr>
</table>

</div>
<div id="pendingXP" class="pendingXP">
  Visited <b>About Me</b>: +100 <i class="fa fa-key"></i>
</div>
<a class="zoombtn " href="{{ site.url }}">
<img src="{{ site.url }}/{{ site.logo }}"/>
</a>
<hr class="hr-line">
