// Buttons
%btnextend {
	display: inline-block;
	border: 1px solid;
	border-color: rgba($color_mercury,0.5) rgba($color_bon_jour,0.5) $color_mischka;
	border-radius: 20px;
	text-decoration: none;
	background: $white;
	color: $color_shark;
	&:hover {
		box-shadow: 0 0 1px 0 rgba($color_shark,0.5);
		color: $red;
		text-shadow:none;
	}


}
.social-btn {
	padding: 5px;
	margin: 5px;
    border-color: $color_shark;
	@extend %btnextend;
	color: $black;
    font-size:1rem;
	background-color: $dark-purple-tp;
	&:visited {

		color: $white;
		text-shadow:none;
	}
	&:link {
		color: $white;
		text-shadow:none;
	}
	&:hover {
		//background-color: $white;
		color: $link-color;
		text-shadow:none;
	}
}
.btn {
	padding: 10px 14px;
	@include font-rem(14);
	margin: 1px auto;
	@extend %btnextend;
	&.btn-success {
      background-color: $success;
      color: $white;
      border-color: $success;
      &:visited {
        color: $white;
				text-shadow:none;
      }
      &:hover {
        background-color: $white;
        color: $success;
				text-shadow:none;
      }
    }
    &.btn-warning {
      background-color: $warning;
      color: $white;
      border-color: $warning;
      &:visited {
        color: $white;
				text-shadow:none;
      }
      &:hover {
        background-color: $white;
        color: $warning;
				text-shadow:none;
      }
    }
    &.btn-danger {
      background-color: $danger;
      color: $white;
      border-color: $danger;
      &:visited {
        color: $white;
				text-shadow:none;
      }
      &:hover {
        background-color: $white;
        color: $danger;
				text-shadow:none;
      }
    }
    &.btn-info {
      background-color: $info;
      color: $white;
      border-color: $info;
      &:visited {
        color: $white;
				text-shadow:none;
      }
      &:hover {
        background-color: $white;
        color: $info;
				text-shadow:none;
      }
    }
	&.zoombtn {
      background-color: $dark-purple-tp;
      color: $white;
      border-color: $color_shark;
			text-shadow:none;
			font-size: 1rem;
    &:link {
        color: $white;
				text-shadow:none;
				font-size: 1rem;
    }
    &:visited {
        color: $white;
				text-shadow:none;
				font-size: 1rem;
      }
      &:hover {
        background-color: $black;
        color: $link-color;
				text-shadow:none;
				font-size: 1rem;
      }
    }
}
.title .btn {
    margin: 1px;
    @include font-rem(12);
    font-weight:300;

}
.post-list {
    .btn {
        @include font-rem(14);
    }
}

// hr break
hr {
	border: 0;
	height: 1px;
	opacity: .3;
    margin: 1em 0;
	background-image: -webkit-linear-gradient(left, #ff02da, #0fe3ff, #ff00f1);
	background-image: -moz-linear-gradient(left, #ff02da, #0fe3ff, #ff00f1);
	background-image: -ms-linear-gradient(left, #ff02da, #0fe3ff, #ff00f1);
	background-image: -o-linear-gradient(left, #ff02da, #0fe3ff, #ff00f1);
	&.hr-line {
		border: 0;
		height: 1px;
		margin: 1em 0;
	}
}

// images and figures
img {
    display: block;
	max-width: 100%;
    width: auto;
    height: auto;
    vertical-align: middle;
    margin-left: auto;
    margin-right: auto;
    border: 0;
    -ms-interpolation-mode: bicubic;
    image-rendering: optimizeQuality;
}
.img-circle {
	border-radius: 50%;
	border: 3px solid $white;
	height: 150px;
	width: 150px;
}
.author-photo {
    background-color: $white;
}
.image-right {
    float: right;
    margin-left: 1em;
    margin-top: 0;
}
figure {
  margin: 0;
  padding-top: 0px;
  padding-bottom: 0px;
  @include clearfix();
  img {
    margin-bottom: 10px;
    @include rounded(10px);
		border: 1px solid;
		border-color: #145d535c;
  }
  &.half {
    @media only screen and (min-width: 62.5em) {
      img {
        width: calc(50% - 12px);
        float: left;
        margin-left: 6px;
        margin-right: 6px;
      }
      figcaption {
        clear: left;
      }
    }
  }
  &.third {
    @media only screen and (min-width: 62.5em) {
      img {
        width: calc(33.3% - 12px);
        float: left;
        margin-left: 6px;
        margin-right: 6px;
      }
      figcaption {
        clear: left;
      }
    }
  }
}
svg:not(:root) {
  overflow: hidden;
}

// keyboard tag
kbd {
	display: inline-block;
	margin: 0 1px;
	padding: 1px 8px;
	@include font-rem(10);
	font-weight: bold;
	color: $color_fuscous_gray;
	vertical-align: middle;
	background-color: $color_alabaster;
	border: solid 1px $color_celeste;
	border-bottom-color: $color_pink_swan;
	border-radius: 3px;
	box-shadow: inset 0 -1px 0 $color_pink_swan;
}

// go up button
.goup-container {
    border-radius: 3px !important;
    //border-color: rgba($color_mercury,0.5) rgba($color_bon_jour,0.5) $color_mischka !important;
    border: 0px solid;
		border-radius:5px;
	@media #{$small} {
		display: none !important;
	}
}
.goup-arrow {
    border-color: transparent transparent $black !important;
}

// reading time
.reading-time {
    text-align: center;
    font-weight: 300;
    margin-bottom: 10px;
}

.xpProgress {
	border-radius: 20px !important;
	border-color: #582047;
	border: 1px;
	margin-left:auto;
	margin-right:auto;
	width: 100%;
	padding:5px;
	height:20px;
	//height:0px;
	box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.77), 0 1px rgba(255, 255, 255, 0.13);
	//display:none;
	//transition: 0.6s linear;
	//transition-property: width;
	z-index:0;
}

.xpProgressContent{
	height:12px;
	color:#bd307a !important;
	border-radius: 30px;
	background-image: linear-gradient(to right, #ff22b2, #7663e0);
  transition: 0.4s linear;
	width:0%;
	transition-property: width, background-image;
	opacity:inherit;
	margin-top:5px;
	margin-left:5px;
	margin-right:5px;
	float:left;
	//position:absolute;
}

.scoreWrapper {
	display:flex;
	margin-top: 0px;
	margin-left:40px;
	margin-right:40px;
	opacity:0;
	transition: opacity 0.5s;
}

.levelContainer {
	height:30px;
	border-radius: 30px;
  background-image: linear-gradient(to bottom, #ff22b2, #4f3ad3);
	color:#FFFFFF;
	width:80px;
	padding-top:6px;
	z-index:10;
	text-align:center;
	vertical-align: center;
	//opacity:inherit;
	font-size: 0.9em;
	box-shadow: 0 0 10px 0 rgba(255,25,201,0.57);
}

.xpCount
{
	position:inherit;
	width:100%;
	text-align: center;
	color:#FFFFFF;
	font-size:0.8em;
	float:left;
}

.loadingWrapper {
	display:flex;
	margin-top: 0px;
	opacity:1;
	//transition: opacity 0.5s;
	position:absolute;
	display:inline-flex;
	padding-top:10px;
}

.pendingXP {
	height:30px;
	border-radius: 30px;
	background-image: linear-gradient(to bottom, #f39e09, #e25388);
	color:#FFFFFF;
	width: auto;
	padding-top:6px;
	padding-left:12px;
	padding-right:12px;
	z-index:10;
	text-align:center;
	vertical-align: center;
	//opacity:inherit;
	font-size: 0.9em;
	display:none;
	margin-top:10px;
	margin-bottom:10px;
	transition: 0.6s linear;
	transition-property: opacity;
	box-shadow:0 0 10px 0 rgba(255, 137, 25, 0.57);
	font-weight:200;
}



.grid-wrapper {
  position:fixed;
  width:100%;
  height:500px;
  left:0;
  bottom:0px;
  perspective:200px;
	overflow:hidden;
}

.grid {
  position:fixed;
  top:0;
  left:0;
  right:0;
  bottom:0;
  width:100%;
  height:100%;
	background-image:linear-gradient(to bottom,#00000000 50%,#0b0015 70%);
  //margin-top:-50px;
  transform: rotateX(60deg);
	-webkit-transform: rotateX(60deg);
	-o-transform: rotateX(60deg);
}

.line {
  position:absolute;
  background:rgba(87, 193, 232, 0.35);
  -webkit-backface-visibility: hidden;
}

.vertical .line {
  top:0;
  left:0;
  bottom:0;
  width:2px;
  background: linear-gradient(0deg, rgba(87,193,232,0.35), rgba(87,193,232,0));
  &:nth-child(1) {
    left:10%;
  }
  &:nth-child(2) {
    left:20%;
  }
  &:nth-child(3) {
    left:30%;
  }
  &:nth-child(4) {
    left:40%;
  }
  &:nth-child(5) {
    left:50%;
  }
  &:nth-child(6) {
    left:60%;
  }
  &:nth-child(7) {
    left:70%;
  }
  &:nth-child(8) {
    left:80%;
  }
  &:nth-child(9) {
    left:90%;
  }
  &:nth-child(10) {
    left:100%;
    margin-left:-1px;
  }
}

.horizontal .line {
  top:0;
  left:0;
  right:0;
  height:2px;
  z-index:2;

	&:nth-child(1) {
    top:10%;
    opacity:0.2;
		animation: moveLine10 20s linear infinite;
        animation-delay:-2s;

				@media #{$small} {
					animation: none !important;
				}
  }
  &:nth-child(2) {
    top:20%;
    opacity:0.3;
		animation: moveLine10 20s linear infinite;
         animation-delay:-4s;
				 @media #{$small} {
 					animation: none !important;
 				}

  }
  &:nth-child(3) {
    top:30%;
    opacity:0.4;
				animation: moveLine10 20s linear infinite;
         animation-delay:-6s;
				 @media #{$small} {
 					animation: none !important;
 				}
  }
  &:nth-child(4) {
    top:40%;
    opacity:0.5;
		animation: moveLine10 20s linear infinite;
        animation-delay:-8s;
				@media #{$small} {
					animation: none !important;
				}
  }
  &:nth-child(5) {
    top:50%;
    opacity:0.6;
		animation: moveLine10 20s linear infinite;
        animation-delay:-10s;
				@media #{$small} {
					animation: none !important;
				}
  }
  &:nth-child(6) {
    top:60%;
    opacity:0.7;
		animation: moveLine10 20s linear infinite;
        animation-delay:-12s;
				@media #{$small} {
					animation: none !important;
				}
  }
  &:nth-child(7) {
    top:70%;
    opacity:0.8;
		animation: moveLine10 20s linear infinite;
        animation-delay:-14s;
				@media #{$small} {
					animation: none !important;
				}
  }
  &:nth-child(8) {
    top:80%;
    opacity:0.9;
		animation: moveLine10 20s linear infinite;
        animation-delay:-16s;
				@media #{$small} {
					animation: none !important;
				}
  }
  &:nth-child(9) {
    top:90%;
    opacity:0.95;
		animation: moveLine10 20s linear infinite;
        animation-delay:-18s;
				@media #{$small} {
					animation: none !important;
				}
  }
  &:nth-child(10) {
    top:100%;
    margin-top:-1px;
    opacity:1;
		animation:  moveLine10 20s linear infinite;
		@media #{$small} {
			animation: none !important;
		}
  }
  &:nth-child(11) {
    opacity:0.05;
  }
}

.dot {
  position:absolute;
	cursor:pointer;
  background:#57C1E8;
  width: 3px;
  height: 3px;
  top:100%;
  border-radius: 2px;
  box-shadow: 0 0 3px #fff;
  -webkit-backface-visibility: hidden;
  &:nth-child(1) {
    left:10%;
    animation: moveDot 5s infinite;
		@media #{$small} {
			animation: none !important;
		}
  }
  &:nth-child(2) {
    left:20%;
    animation: moveDot 20s infinite;
		@media #{$small} {
			animation: none !important;
		}
  }
  &:nth-child(3) {
    left:30%;
    animation: moveDot 15s infinite;
		@media #{$small} {
			animation: none !important;
		}
  }
  &:nth-child(4) {
    left:50%;
    animation: moveDot 30s infinite;
		@media #{$small} {
			animation: none !important;
		}
  }
  &:nth-child(5) {
    left:60%;
    animation: moveDot 12s infinite;
		@media #{$small} {
			animation: none !important;
		}
  }
  &:nth-child(6) {
    left:80%;
    animation: moveDot 6s infinite;
		@media #{$small} {
			animation: none !important;
		}
  }
  &:nth-child(7) {
    left:90%;
    animation: moveDot 8s infinite;
		@media #{$small} {
			animation: none !important;
		}
  }
}

@keyframes moveDot {
  0%   { top: 100%; opacity:1; }
  100% { top: 0%; opacity:0; }
}

@keyframes moveLine1 {
  0%   { top: 10%; opacity:0.2; }
  90% { top: 100%; opacity:1; }
	91% { top: 0%; opacity:0; }
	100% { top: 10%; opacity:0.2; }
}

@keyframes moveLine2 {
  0%   { top: 20%; opacity:0.3; }
  80% { top: 100%; opacity:1; }
	81% { top: 0%; opacity:0; }
	100% { top: 20%; opacity:0.3; }
}

@keyframes moveLine3 {
  0%   { top: 30%; opacity:0.4; }
  70% { top: 100%; opacity:1; }
	71% { top: 0%; opacity:0; }
	100% { top: 30%; opacity:0.4; }
}

@keyframes moveLine4 {
  0%   { top: 40%; opacity:0.5; }
  60% { top: 100%; opacity:1; }
	61% { top: 0%; opacity:0; }
	100% { top: 40%; opacity:0.5; }
}

@keyframes moveLine5 {
  0%   { top: 50%; opacity:0.6; }
  50% { top: 100%; opacity:1; }
	51% { top: 0%; opacity:0; }
	100% { top: 50%; opacity:0.6; }
}

@keyframes moveLine6 {
  0%   { top: 60%; opacity:0.7; }
  40% { top: 100%; opacity:1; }
	41% { top: 0%; opacity:0; }
	100% { top: 60%; opacity:0.7; }
}

@keyframes moveLine7 {
  0%   { top: 70%; opacity:0.8; }
  30% { top: 100%; opacity:1; }
	31% { top: 0%; opacity:0; }
	100% { top: 70%; opacity:0.8; }
}


@keyframes moveLine8 {
  0%   { top: 80%; opacity:0.9; }
  20% { top: 100%; opacity:1; }
	21% { top: 0%; opacity:0; }
	100% { top: 80%; opacity:0.9; }
}

@keyframes moveLine9 {
  0%   { top: 90%; opacity:0.95; }
  10% { top: 100%; opacity:1; }
	11% { top: 0%; opacity:0; }
	100% { top: 90%; opacity:0.95; }
}

@keyframes moveLine10 {
  0%   { top: 0%; opacity:0; }
  100% { top: 100%; opacity:1; }
}

@-webkit-keyframes rotating /* Safari and Chrome */ {
  from {
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes rotating {
  from {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
.rotating {
  -webkit-animation: rotating 2s linear infinite;
  -moz-animation: rotating 2s linear infinite;
  -ms-animation: rotating 2s linear infinite;
  -o-animation: rotating 2s linear infinite;
  animation: rotating 2s linear infinite;
}

%secretextend {
	display: inline-block;
	margin: 0 1px;
	text-align: center;
	padding: 10px;
	font-size: 10px;
	font-size: 0.9em;
	color: #ffffff;

	vertical-align: middle;
	background-color: #39001f24;
	border: solid 1px #a1006a29;
	border-radius: 6px;
}

.secret-right {
	@extend %secretextend;
	margin-left: 30px;
	margin-bottom: 10px;
	float: right;
}

.secret-left {
	@extend %secretextend;
	margin-right: 30px;
	margin-bottom: 10px;
	float: left;
}

.secret {
		@extend %secretextend;
}

.secretwide {
		@extend %secretextend;
		width:100%;

}

form
{
	text-align: center;
}

label
{
	display: inline-block;
    width: 100%;
    padding: 10px;
}

input
{
	border-radius: 10px;
	padding-left: 10px;
	padding-right: 10px;

}
textarea
{
	border-radius: 10px;
	padding-left: 10px;
	padding-right: 10px;

}
button
{
	display: inline-block;
    float: left;
    width: 100%;
    padding: 10px;
}

.zoombtn
{
	& {
		text-shadow:none;
		font-size:1.3em;
	}
	&:visited {
		text-shadow:none;
		font-size:1.3em;
	}
	&:link {
		text-shadow:none;
		font-size:1.3em;
	}

}

.specialColor
{
	color: $white;
}

.keyColor
{
	color: #ff00cc;
	text-shadow: 0 0 1px #3c3c9a, 0 0 6px #0081e6;
}

.starColor
{
	color: #f58080;
	text-shadow: 0 0 1px #ffbf82, 0 0 6px #e60073;
}

.lockColor
{
	color: #ff9b9b;
	text-shadow: 0 0 1px #ffbf82, 0 0 6px #e69000;

}



@keyframes move-twink-back {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
}
@-webkit-keyframes move-twink-back {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
}
@-moz-keyframes move-twink-back {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
}
@-ms-keyframes move-twink-back {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
}

@keyframes move-clouds-back {
    from {background-position:0 0;}
    to {background-position:10000px 0;}
}
@-webkit-keyframes move-clouds-back {
    from {background-position:0 0;}
    to {background-position:10000px 0;}
}
@-moz-keyframes move-clouds-back {
    from {background-position:0 0;}
    to {background-position:10000px 0;}
}
@-ms-keyframes move-clouds-back {
    from {background-position: 0;}
    to {background-position:10000px 0;}
}

.stars,.starsB, .twinkling, .clouds {
  position:fixed;
  top:0;
  left:0;
  right:0;
  bottom:0;
  width:100%;
  height:100%;
  display:block;
}

.stars {
  background:transparent url(https://www.carloshurtado.com/assets/img/stars.png) repeat top center;
  z-index:0;
}

.starsB {
  background:transparent url(https://www.carloshurtado.com/assets/img/stars.png) repeat top center;
  z-index:0;
	opacity:0.3;
	-moz-animation:move-clouds-back 500s linear infinite;
	-ms-animation:move-clouds-back 500s linear infinite;
	-o-animation:move-clouds-back 500s linear infinite;
	-webkit-animation:move-clouds-back 500s linear infinite;
	animation:move-clouds-back 500s linear infinite;
}


.clouds{
    background:transparent url(https://www.carloshurtado.com/assets/img/clouds3.png) repeat top center;
    z-index:0;
		opacity:0.6;

  -moz-animation:move-clouds-back 500s linear infinite;
  -ms-animation:move-clouds-back 500s linear infinite;
  -o-animation:move-clouds-back 500s linear infinite;
  -webkit-animation:move-clouds-back 500s linear infinite;
  animation:move-clouds-back 500s linear infinite;
}

.tableContainer
{
	width:100%;
	display:flex;
	top:0;
	left:0;
	flex-wrap:wrap;
	margin-top:50px;
	margin-bottom:50px;
	justify-content:space-between;
	align-items: center;
}

.logoContainer
{
	background:transparent url(https://www.carloshurtado.com/assets/img/mepunk.png);
	display:block;
	background-size:contain;
	background-repeat:no-repeat;
	float:left;
	width:300px;
	height:250px;
	background-position:center center;

}

.textHolder
{
	display:block;
	float:right;
	min-width:0px;
	height:auto;
	text-align:left;
	max-width:600px;
	width:400px;
}

.theface
{
	cursor:pointer;
	display:block;
	float:left;
	height:120px;
	width:80px;
	margin-left:100px;
	margin-top:20px;
}
