//@extend-elements
%extend1 {
	margin: 0;
	padding: 0;
	width: 100%;
	//height: 100%;
	font-size: 100%;
}


html {
	@extend %extend1;
}
body {
	perspective:1000px;
	@extend %extend1;
	font-family: $font1;
	display:initial !important;
	@include font-rem($doc-font-size);
	color: $color_tuatara;

	//background-color: $bodycolor;
	//background: linear-gradient(114.95deg, rgba(235, 0, 255, 0.5) 0%, rgba(0, 71, 255, 0) 34.35%), linear-gradient(180deg, #004B5B 0%, #FFA7A7 100%), linear-gradient(244.35deg, #FFB26A 0%, #3676B1 50.58%, #00A3FF 100%), linear-gradient(244.35deg, #FFFFFF 0%, #004A74 49.48%, #FF0000 100%), radial-gradient(100% 233.99% at 0% 100%, #B70000 0%, #AD00FF 100%), linear-gradient(307.27deg, #219D87 0.37%, #2650BA 50.19%, #2800C6 100%), radial-gradient(100% 140% at 100% 0%, #FF00C7 0%, #006C7A 49.48%, #760000 100%);
	//background-blend-mode: hard-light, overlay, overlay, overlay, difference, difference, normal;

	//background-image: linear-gradient(121.28deg, #e100ff  0%, #000000 100%), linear-gradient(180deg, #5200FF 0%, #1A0050 100%), linear-gradient(341.1deg, #FF0000 7.52%, #1700A4 77.98%), radial-gradient(49.82% 80.51% at 49.82% 50%, #5A0069 0%, #FF3D00 100%), radial-gradient(50% 72.12% at 50% 50%, #EB00FF 0%, #110055 100%);
	background-image: -webkit-linear-gradient(121.28deg, #e100ff  0%, #000000 100%), linear-gradient(180deg, #5200FF 0%, #1A0050 100%), linear-gradient(341.1deg, #FF0000 7.52%, #1700A4 77.98%), radial-gradient(49.82% 80.51% at 49.82% 50%, #5A0069 0%, #FF3D00 100%), radial-gradient(50% 72.12% at 50% 50%, #EB00FF 0%, #110055 100%);

	background-blend-mode: color-dodge, overlay, difference, difference, normal;

	background-position: center center;
	background-attachment: fixed;

	@media #{$small} {
	    //background-image: none !important;
		//background: $bodycolor;
	}
}



* {
	box-sizing: border-box;
}
*::after {
	box-sizing: border-box;
}
*::before {
	box-sizing: border-box;
}
.header {
	height: 100%;
	position: relative;
	width: 100%;
	min-height: 300px;
	text-align: left;
	color: $white;
	@media #{$small} {
		display: block !important;
	}
	@media only screen and (max-height: 500px) {
	    display: block !important;
	}
}
.flex {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-flex: 0;
	-webkit-flex: 0 1 auto;
	-ms-flex: 0 1 auto;
	flex: 0 1 auto;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-webkit-flex-direction: row;
	-ms-flex-direction: row;
	flex-direction: row;
	-webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
}


.container {
//	transform: rotateX(5deg);
	width: 80%;
	max-width: 770px;
	padding:1em;
	margin-top:20px;
	margin-bottom:20px;
	@include center-block();
	background-color: $dark-purple-tp;
	//color: $color_shark;
	z-index: 1;
	border-radius: 80px;
	box-shadow: 0 0 10px 0 rgba($color_shark,0.3);
	@include transition(.5s);
	@media #{$small} {
		width: 100%;
		margin-top:0px;
		margin-bottom:0px;
	    box-shadow: none;
			border-radius: 0px;
		padding: 2em 0;
	}
	@media #{$medium} {
		width: 80%;
	}
}


@supports (-ms-ime-align:auto) {
  .container {
    background-color: #120820;
  }
	.btn.zoombtn
	{
		 background-color: #120820 !important;
	}
	.social-btn
	{
		 background-color: #120820 !important;
	}
	.wrapper {
		background-color: #120820;
	}
	.post-list li{
		background-color: #000000;
	}
	body{
		background-image: none;
		background-color: rgba(248, 22, 128, 1);

	}


.row {
	margin-top: 15px;
	margin-left: 15px;
	margin-right: 15px;
	text-align: center;
	.title {
	    margin-top: 0;
	    margin-bottom: 5px;
	}
	@media #{$small} {
	//	padding: 0 1em;

	}
}
.wrapper {
	//transform: rotateY(5deg);
	margin-top:20px;
	margin-bottom:20px;
	width: 80%;
	max-width: 770px;
	//margin: 4rem auto;
	text-align:center;
	@include center-block();
	padding:1em;
	background-color: $dark-purple-tp;
	color: $forward-color;
	padding: 2em;
	border-radius: 80px;
	box-shadow: 0 0 10px 0 rgba($color_shark,0.3);
	@include transition(.5s);
	@media #{$small} {
		width: 100%;
		border-radius: 0px;
		margin-top: 0px;
		margin-bottom:0px;
		padding: 2em 2em;
	    box-shadow: none;
	}
}
#disqus_thread {
	width: 80%;
	max-width: 770px;
	margin: -3rem auto 4rem;
    margin-top: 20px;
	background-color: $dark-purple-tp;
	color: $forward-color;
	padding: 2em;

	border-radius: 80px;
	box-shadow: 0 0 10px 0 rgba($color_shark,0.3);
	@include transition(.5s);
	@media #{$small} {
		width: 90%;
		padding: 2em 0;
	    box-shadow: none;
	}
}
// entry meta
.entry-meta {
	@include font-rem(12);
	text-transform: uppercase;
	color: lighten($color_tuatara,60);
	padding-left: 0;
	a {
		color: lighten($color_tuatara,60);
	}
	li {
	    list-style-type: none;
	    display: inline;
	}
	.tag {
	    display: inline-block;
        border: 1px solid;
        border-color: rgba($color_mercury,0.5) rgba($color_bon_jour,0.5) $color_mischka;
        @include rounded(3px);
        text-decoration: none;
        background-color: $white;
        color: $color_tuatara;
        @include transition(.75s);
        margin: 2px 5px;
		span {
			float: left;
			padding: 2px 6px;
		}
		.count {
			background-color: darken($white,15);
			@include border-radius(3px,3px,0,0);
		}
		&:hover {
			background-color: darken($white,15);
			box-shadow: 0 0 1px 0 rgba($color_shark,0.5);
		}
	}
}
header .entry-meta {
	display: none; // hide header meta on small screens
	@media #{$notsmall} {
		display: block;
	}
}
.entry-title a {
    text-decoration: none;
}
.entry-tags {
	display: block;
    margin-top: 1rem;
	width: 70%;
    float: left;
    text-align: left;
}
.social-share {
	display: block;
    margin-top: 1rem;
    width: 30%;
    float: right;
    text-align: right;
}
.feature {
    @include transition(.5s);
    @media #{$small} {
        background-image: none !important;
    }
    @media #{$medium} {
        color: white;
        padding: 4em;
        margin-left: -4rem;
        margin-right: -4rem;
        margin-top: -2rem;
        border-radius: 3px 3px 0 0;
        background-color: rgba($black, 0.6);
        background-blend-mode: multiply;
        background-position: center center;
    }
    @media #{$notsmall} {
        color: white;
        padding: 10em;
        margin-left: -4rem;
        margin-right: -4rem;
        margin-top: -2rem;
        border-radius: 3px 3px 0 0;
        background-color: rgba($black, 0.6);
        background-blend-mode: multiply;
        background-position: center center;
    }
}

.glowy
{
	text-shadow: 0px -1px 5px #ffce0099, 2px 1px 3px rgba(255, 7, 7, 0.29), 0 0px 1px #df590078
}


.chromatic
{
	text-shadow: 3px 2px 2px rgba(251, 12, 12,1), 0px -1px 3px rgba(12, 79, 251,.5),-3px 0px 2px #431768;
	animation: chromaticMove 10000ms ease infinite,pulse ease 2000ms  infinite;
}

@keyframes gradientMove {
    0%{background-size: 100% 4px}
    50%{background-size: 100% 2px}
    100%{background-size: 100% 4px}
}

@keyframes pulse {
    0%{ opacity:.9;transform: skewX(.5deg);}
    25%{ opacity:1;}
    50%{opacity:.9;}
    75%{ opacity:1; transform:skewX(.5deg);}
    100%{opacity:.9;}
}
@keyframes chromaticMove {
    0%{text-shadow: 3px 2px 2px rgba(251, 12, 12,1), 0px -1px 3px rgba(12, 79, 251,.5),0px 0px -2px #431768;}
    50%{text-shadow: 3px 2px 2px rgba(251, 12, 12,1), 0px -1px 3px rgba(12, 79, 251,.5),-3px 2px 3px #431768;}
    100%{text-shadow: 3px 2px 2px rgba(251, 12, 12,1), 0px -1px 3px rgba(12, 79, 251,.5),2px -1px 2px #431768;}
}
