---
layout: compress
---
<!DOCTYPE html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if (IE 7)&!(IEMobile)]><html class="no-js lt-ie9 lt-ie8"><![endif]-->
<!--[if (IE 8)&!(IEMobile)]><html class="no-js lt-ie9"><![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"><!--<![endif]-->
<head>
    {% include head.html %}
</head>
<body>
    {% include nav.html %}
    <!-- Header -->
    <header class="header flex" role="banner">
        <div class="container animated fadeIn">
            <div class="row">
                    <a href="{{ site.url }}">
                        <img src="{{ site.logo }}" class="img-circle zoombtn animated fadeIn">
                    </a>
                    <h3 class="title">
                        <a class="zoombtn" href="{{ site.url }}">
                        	<p style="font-size:1.6rem;font-weight:300">carloshurtado.com</p>
			            </a>
                    </h3>
                    <hr class="hr-line">
                    <h3 class="title">
                        <a href="{{ site.url }}">
                        	<p style="font-size:1rem;font-weight:300">Hi, I'm Carlos.</p>
                          <p style="font-size:1rem;font-weight:300">Husband. Lead Game Engineer. Hobbyist Artist. Productivity Geek. Escape Room player. Chilean. California resident.</p>
                          <p style="font-size:1rem;font-weight:300">Go check some projects I'm proud of professionally, as well as take a look at my amateur art. If you want me to work on an art commission, reach out to me via the contact form! I love to do commissions.</p>
                          <p style="font-size:1rem;font-weight:300">In the Thoughts page you will find some musings about different interests topics, like productivity, software, tools, drawing, movies, music, games, etc... I have a lot of thoughts about a lot of stuff and I want to write more.
                        </p>
			            </a>
                    </h3>
                    {% include social-links.html %}
                  <hr class="hr-line">
                  <h3 class="title">
                         <a class="btn zoombtn" href="{{ site.url }}/about">
                         <i class="fa fa-fw fa-info"></i>About Me
                         </a>
                         <a class="btn zoombtn" href="{{ site.url }}/gamedev">
                         <i class="fa fa-fw fa-gamepad"></i>Game Development
                         </a>
                         <a class="btn zoombtn" href="{{ site.url }}/art">
                        <i class="fa fa-fw fa-image"></i> Art
                         </a>
                         <a class="btn zoombtn" href="{{ site.url }}/thoughts">
                         <i class="fa fa-fw fa-code"></i> Thoughts
                         </a>
                         <a class="btn zoombtn" href="{{ site.url }}/contact">
                         <i class="fa fa-fw fa-fax"></i> Contact Me
                         </a>
                         <a class="btn zoombtn" href="{{ site.url }}/leaderboards">
                         <i class="fa fa-fw fa-superpowers"></i>Leaderboards
                         </a>
                 </h3>
            </div>
        </div>
    </header>
    {% include scripts.html %}
</body>
</html>
